/* General Styling */
/* ---------------------------------- */

/* Set a white background for the body */
.black-background {
    background-color: white;
}

/* Box-sizing and padding for course sections */
.course-navigation, .course-content, .course-status {
    box-sizing: border-box;
    padding: 15px;
}

/* Set full height and width for specified elements */
body, html, .container, .sidebar, .course-navigation, .course-content, .course-status {
    height: 100%;
    width: 100%;
}

/* Provide some space between the top of the page and course sections */
.course-navigation, .course-status {
    margin-top: 80px; /* Adjust the value as needed */
}


/* Grid Layout */
/* ---------------------------------- */

/* Create a 4-column grid layout with a 10px gap */
.grid-container {
    display: grid;
    grid-template-columns: 10% 50% 25%; /* Adjust as needed */
    grid-gap: 10px; /* Adjust the gap between columns as needed */
    margin: 0;
    padding: 0;
}

.course-navigation, .course-content, .course-status {
    box-sizing: border-box;
    padding: 15px;
}


/* Sidebar Styling */
/* ---------------------------------- */

.sidebar {
    background-color: black;
    color: white;
    width: 84px;
    height: 100%;
    text-align: center;
    position: fixed;
}


/* Course Navigation */
/* ---------------------------------- */

/* Set a width for the course navigation */
.course-navigation {
    width: 100%;
    grid-column: 1 / 2;
}

/* Adjust the margin */
.course-navigation {
    margin-left: 100px; /* Adjust as needed */
}

    /* Style the navigation links */
    .course-navigation ul {
        list-style-type: none;
        padding-left: 0;
    }

    .course-navigation a {
        color: red;
        text-decoration: none;
        font-weight: bold;
        padding-right: 10px;
    }

    .course-navigation li {
        margin-bottom: 10px;
    }

    .course-navigation ul li.active2 a {
        color: black;
        border: 1px solid black;
        padding: 3px;
    }


/* Course Content */
/* ---------------------------------- */

/* Set a width for the course content */
.course-content {
    width: 100%;
    grid-column: 2 / 3;
}

/* Adjust the margin */
.course-content {
    margin-left: 100px; /* Adjust as needed */
}

/* Styling for sublists */
.sublist {
    margin-left: 20px;
}


/* Course Status */
/* ---------------------------------- */

/* Set a width for the course status */
.course-status {
    width: 100%;
    grid-column: 3 / 4
}

/* Adjust the margin */
.course-status {
    margin-left: 200px; /* Adjust as needed */
}


/* Additional Styles */
/* ---------------------------------- */

/* Style for the college emblem image */
.college-emblem {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Remove bullet points and adjust margin for navigation list */
.navigation-list {
    list-style: none;
    padding: 0;
}

    .navigation-list li {
        margin-bottom: 10px;
        font-size: 13px;
    }

    .navigation-list a {
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        display: block;
        font-size: 11px;
    }

    .navigation-list i {
        font-size: 23px;
    }

    .navigation-list li.active {
        background-color: white !important;
    }

        .navigation-list li.active a {
            color: black !important;
        }

/* Styles for list items */
.list-group-item.list-group-item-secondary a.text-danger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5px;
    color: black !important;
    text-decoration: none;
}

.list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
