.color-red {
    color: red;
}

.no-underline {
    text-decoration: none;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.table-row, .first-li {
    text-align: center;
}

.main-table, .wd-grid-col-left-sidebar, .wd-grid-col-main-content, .wd-grid-col-right-sidebar {
    float: left;
}

.active {
    background-color: white;
    color: gray;
    margin: 0;
}

i {
    padding: 1mm;
}

.user-icon {
    color: gray;
}

.yt-link {
    text-decoration: none;
    color: red;
}

.btn-edit > a {
    margin: 10px;
}

.wd-grid-row {
    clear: both;
    width: 100%;
}

.inline-block, .float-right {
    display: inline-block;
    padding: 15px;
}

.sub-li {
    padding-left: 100px;
}

.assignment-list-container {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.assignment-list-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: papayawhip;
    border-radius: 5px;
}

.title-box {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.assignment-list-title {
    flex-grow: 1;
}

.percentage-capsule {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}

.right-items, .item-left, .item-right {
    display: flex;
    align-items: center;
}

.item-right {
    margin-left: 770px;
}

.float-right {
    float: right;
}

.margin-right {
    margin-right: 10px; /* Adjust the value as needed */
}